.calculator > header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.headerLeft {
  display: flex;
  align-items: baseline;
}

.headerLeft > *:first-child {
  margin-right: 0.75em;
}

.headerActions > *:first-child {
  margin-right: 0.5em;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em 1.5em;
}

.tabContent {
  width: 100%;
}

.saveData {
  font-family: source-code-pro, monospace;
}

/* Calculator-Global Styles */

.formPanel {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: 100%;
  width: 100%;
}

.formPanel > *:not(:last-child) {
  margin-bottom: 0.3em;
}
