.calculator > header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em 1.5em;
}

.tabContent {
  width: 100%;
}

.formPanel {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: 100%;
  width: 100%;
}

.characterPanels > *:not(:last-child), .formPanel > *:not(:last-child) {
  margin-bottom: 0.5em;
}
